
@media (min-width: 1024px) {
  #Input {
    width: 25vw;

  }
}
@media (max-width: 1024px) {
  #Input {
    width: 35vw;

  }
}
@media (max-width: 768px) {
  #Input {
    display: flex;
    width: 40vw;
  }
}

#Input {
  display: flex;
  justify-content: space-around;
  position: relative;
  
  border: 0.5px solid black;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(75, 155, 224);

  
  
}

#Input::before {
  content: "";
  inset: -3px;
  position: absolute;
  z-index: -1;

  background-color: rgb(94, 127, 149);

  filter: blur(10px);
  border-radius: 8px;
  
}


#Input > button {
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;

  transition: 0.5s ease;
}

#Input > button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 2px rgb(171, 221, 255)
}

#Input > span {
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}