.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: rgb(216, 232, 248);
    border-radius: 5px;
    min-width: 20svw;
}

.item > * {
    margin-left: 4px;
    margin-right: 4px;
}

.item > button {
    font-size: 8px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.item > span {
    position: relative;
}

span::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -8px;
  right: -8px;
  bottom: 7px;
  border-radius: 7px;

  background-color: rgb(74, 115, 205);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease;
}


.text-box {
    position: relative;
}

.box {
    width: calc(100% + 16px);
    height: 4px;
    background-color: rgb(74, 115, 205);
    position: absolute;
    inset: 50% -8px;
    border-radius: 8px;
    
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s ease;
}

.lining-show {
    transform: scaleX(1);
}

.lining-hide {
    transform: scaleX(0);
}


.created {
    animation: show .5s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 1;
}

@keyframes show {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}