.item {
  display: flex;
  gap: 25px;
  background: white;
  padding: 14px 16px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  transition: 0.2s ease;
  
}

.item:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #6366f1;
  cursor: pointer;
}

.text-box {
  flex: 1;
  position: relative;
  text-align: center;
}

.text-box span {
  font-size: 14px;
  transition: 0.2s ease;
  font-size: 12px;
  position: relative;
  
}

.text-box span::before {
    content: "";
    position: absolute;
    inset: 6px -8px;
    transform: scale(0);
    background-color: #4f46e5;
    border-radius: 5px;
}

.text-box span.done::before {
    animation: show .5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

.text-box span.hide::before {
    animation: hide .5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}


.text-box.done span {
  color: #9ca3af;
  text-decoration: line-through;
}



.created {
    animation: show .5s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 1;
}

@keyframes show {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes hide {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}


.item button {
  background: transparent;
  border: none;
  color: #ef4444;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 10px;
  padding: 5px 5px;
}

.item button:hover {
  color: #dc2626;
  background-color: #ff0b0b52;
}
