.item {
  display: flex;
  align-items: center;
  gap: 35px;
  background: white;
  padding: 16px 18px;
  border-radius: 14px;
  box-shadow: 0 4px 12px #0000000a;
  transition: 0.2s ease;
}

.item:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.item input[type="checkbox"] {
  width: 22px;
  height: 22px;
  accent-color: #6366f1;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.item input[type="checkbox"]:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2px #6366f1;
    border-radius: 2px;
}

.text-box {
  flex: 1;
  display: flex;
}

.text-box span {
  font-size: 20px;
  transition: 0.2s ease;
  position: relative;
}

.text-box span::before {
    content: "";
    position: absolute;
    transform: scale(0);
    inset: 11px -8px;
    background-color: #4f46e5;
    border-radius: 5px;
}

.text-box span.done::before {
    animation: show .5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

.text-box span.hide::before {
    animation: hide .5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

.created {
    animation: show .5s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 1;
}

@keyframes show {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes hide {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}


.item #del {
  background: transparent;
  border: none;
  color: #ef4444;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 10px;
  padding: 5px 5px;
}

.item #del:hover {
  color: #dc2626;
  background-color: #ff0b0b52;
}


.moving {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-around;
}
.moving button {
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;

    background: rgba(255,255,255);

    border: none;

    transition: 0.2s ease;
}

/* hover */
.moving button:hover {
    background: #edeef0;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* active */
.moving button:active {
    transform: translateY(0);
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.1);
}

/* disabled */
.moving button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}