
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listPlace {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin: 20px;
  height: calc(100vh - 20px);
}

.ui {
  margin: 10px;
}
